NET TR LOC=T11 | IOSTANDARD=LVCMOS33; #LD7
NET TG LOC=R11 | IOSTANDARD=LVCMOS33; #LD6
NET HR LOC=N11 | IOSTANDARD=LVCMOS33; #LD5
NET HY LOC=M11 | IOSTANDARD=LVCMOS33; #LD4
NET HG LOC=V15 | IOSTANDARD=LVCMOS33; #LD3
NET FR LOC=U15 | IOSTANDARD=LVCMOS33; #LD2
NET FY LOC=V16 | IOSTANDARD=LVCMOS33; #LD1
NET FG LOC=U16 | IOSTANDARD=LVCMOS33; #LD0
NET clock LOC=V10 | IOSTANDARD=LVCMOS33; 
NET sensor LOC=T10 | IOSTANDARD=LVCMOS33; #SW0
NET sensort LOC=T9 | IOSTANDARD=LVCMOS33; #SW1
NET reset LOC=C9 | IOSTANDARD=LVCMOS33; #BTND