//! **************************************************************************
// Written by: Map P.20131013 on Sun Nov 21 00:11:25 2021
//! **************************************************************************

SCHEMATIC START;
COMP "sensor" LOCATE = SITE "T10" LEVEL 1;
COMP "FG" LOCATE = SITE "U16" LEVEL 1;
COMP "HG" LOCATE = SITE "V15" LEVEL 1;
COMP "FR" LOCATE = SITE "U15" LEVEL 1;
COMP "sensort" LOCATE = SITE "T9" LEVEL 1;
COMP "HR" LOCATE = SITE "N11" LEVEL 1;
COMP "FY" LOCATE = SITE "V16" LEVEL 1;
COMP "HY" LOCATE = SITE "M11" LEVEL 1;
COMP "TG" LOCATE = SITE "R11" LEVEL 1;
COMP "TR" LOCATE = SITE "T11" LEVEL 1;
COMP "clock" LOCATE = SITE "V10" LEVEL 1;
COMP "reset" LOCATE = SITE "C9" LEVEL 1;
SCHEMATIC END;

